.about-info {
    font-family: 'Merriweather', serif;
    margin-top: 20px;
    font-size: 1.25vw;
    text-align: justify;
}



@media (max-width: 992px) {
    .about-info {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    .about-info {
        font-size: 3vw;
    }
}