header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.textLogo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
}


.navigation ul{
    display: flex;
    justify-content: space-between;
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}

nav ul a:hover{
    color: #7575b7;
    font-size: 21px
}

nav ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-right: 30px;
    list-style: none;
}

.mobile-navigation {
    display: none;
}

@media (max-width: 992px) {
    .navigation {
        display: none;
    }

    .mobile-navigation {
        display: flex;
        align-items: center;
    }

    .menu-icon {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .mobile-navigation ul {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        top: 80px;
        right: 0;
        width: 40%;
        height: 100%;

        background-color: rgba(16, 16, 20, 0.75);
    }

    .mobile-navigation ul li{
        padding: 20px;
    }
}

