main {
    margin-top: 30px;
    min-height: 550px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 6fr;
    justify-items: center;

}

h1 {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
}
