.countdown-card {
    margin-top: 30px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003d70;
    width: 100%;
}

.countdown-card-heading {
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.countdown-card-subheading {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.movie-card {
    display: grid;
    column-gap: 6rem;
    grid-template-areas:
    "img info"
    "img buttons"
}

.img-container {
    grid-area: img;
}

.info-container {
    grid-area: info;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

.info-container > * {
    margin-bottom: 50px;
    padding-right: 15px;
}

.info-container > *:first-child {
    margin-top: 50px;
}

.description {
    text-align: justify;
}

.buttons-container {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.buttons-container button {
    border: none;
    border-radius: 8px;
    padding: 10px 15px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    cursor: pointer ;
    margin: 0 10px
}

.button-trailer {
    background-color: #E23636;
}

.button-info {
    background-color: #518CCA;
}

.button-trailer:hover {
    background-color: #b22727;
}

.button-info:hover {
    background-color: #3f77ab;
}

/*Countdown styling */

.countdown-card > .countdown-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.countdown-card > .countdown-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.countdown-card > .countdown-container .countdown-number {
    font-size: 4vw;
}

.countdown-card > .countdown-container .countdown-label {
    font-size: 3vw;
}



@media (max-width: 992px) {
    .countdown-card {
        min-height: 40vw;
    }
    .countdown-card-heading {
        font-size: 26px;
    }

    .movie-card {
        width: 100%;
        display: grid;
        grid-template-areas:
        "img"
        "info"
        "buttons";
    }

    .img-container img {
        object-fit: cover;
        width: 100%;
    }


    .buttons-container button {
        padding: 15px 20px;
        font-size: 20px;
    }

    .countdown-card > .countdown-container {
        margin-top: 10vw;
        gap: 2vw;
    }

    .countdown-card > .countdown-container .countdown-number {
        font-size: 5vw;
    }

    .countdown-card > .countdown-container .countdown-label {
        font-size: 4vw;
    }

}

@media (max-width: 768px) {
    .countdown-card-heading {
        font-size: 6vw;
    }

    .countdown-card-subheading {
        font-size: 5vw;
    }

    .countdown-card > .countdown-container {
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .buttons-container button {
        padding: 15px 20px;
        font-size: 14px;
    }

    .countdown-card > .countdown-container {
        margin-top: 5vw;
        gap: 5vw;
        padding-bottom: 10px;
    }

    .countdown-card > .countdown-container .countdown-number {
        font-size: 8vw;
    }

    .countdown-card > .countdown-container .countdown-label {
        font-size: 6vw;
    }

}


