.search-card{
    width: 100%;
    background-image: url("/src/assets/search-card-photo.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-card form{
    padding-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.search-card form input[type=text] {
    width: 90%;
    height: 35px;
    padding: 20px 10px;
    margin: 8px 0;

    color: #101014;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

.search-card form input[type=text]:focus {
    outline: none;
}

.error-found {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: red;
    background: #EBEBF0;
}

.search-heading {
    padding-left: 15px;
    padding-right: 15px;

    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: bold;
}

.search-subheading {
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.button-search {
    background-color: #518CCA;
    border: none;
    border-radius: 8px;
    padding: 10px 45px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    cursor: pointer ;
}



.button-search:hover {
    background-color: #36638c;
}

.search-card form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(128, 128, 128, 0.4);
    opacity: 1; /* Firefox */
}

.search-card form input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(128, 128, 128, 0.4);
}

.search-card form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(128, 128, 128, 0.4);
}

@media (max-width: 992px) {
    .search-heading {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 32px;
    }

    .search-subheading {
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }

    .search-card form{
        padding-top: 30px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .search-card form input[type=text] {
        width: 100%;
    }

    @media (max-width: 768px) {
        .search-heading {
            font-size: 28px;
        }

        .search-subheading {
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 14px;
        }
    }
}